<div>
    <div class="menu_word">
        <a class="btn btn-link" routerLink="" role="button">Home</a>
    </div>
    <div class="menu_dash">
        <img src="assets/menuLine.png">
    </div>
    <div class="menu_word">
        <a class="btn btn-link" routerLink="/submitform" role="button">Submit</a>
    </div>
    <div class="menu_dash">
        <img src="assets/menuLine.png">
    </div>
    <div class="menu_word">
        <a class="btn btn-link" routerLink="/about" role="button">About</a>
    </div>
    <div class="menu_dash">
        <img src="assets/menuLine.png">
    </div>
</div>
<div class="media_link">
    <img class="first_img" src="assets/socialMediaLogo.png">
    <img src="assets/socialMediaLogo.png">
    <img src="assets/socialMediaLogo.png">
    <img src="assets/socialMediaLogo.png">
</div>
<div class="footer">
    <button type="button" class="btn btn-link">中文</button>
    <img src="assets/cancelMenu.png" (click)='goBack()'>
</div>