@media (max-width: 767px) {

}

.language-btn {
    float: right;
}

.bodyclass {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 70%;
}

.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 1.5em;
    height: 1.5em;
}
