@media (max-width: 767px) {}
/* .language-btn {
    float: right;
}

img {
    width: 80%;
}
.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 1.5em;
    height: 1.5em;
} */






