<div class="pre_text">
    <p>{{pre_text}}</p>
</div>
<div class="homepage_btn">
    <a class="btn btn-link" routerLink="/submitform" role="button">Submit</a>
    <a class="btn btn-link" routerLink="/about" role="button">Learn more</a>
</div>
<div class="homepage_pic">
    <img src="assets/Component 8 – 4.png">
</div>
<div class="sort">

</div>
<div class="label_list">
    <div class="label_item1">
        <img routerLink="/details" src="assets/label1.png">
    </div>
    <div class="label_item2">
        <img routerLink="/details" src="assets/label2.png">
    </div>
    <div class="label_item1">
        <img routerLink="/details" src="assets/label1.png">
    </div>
    <div class="label_item2">
        <img routerLink="/details" src="assets/label2.png">
    </div>
    <div class="label_item1">
        <img routerLink="/details" src="assets/label1.png">
    </div>
    <div class="label_item2">
        <img routerLink="/details" src="assets/label2.png">
    </div>
</div>